# Ignorar archivos de cache de Python
*.pyc
__pycache__/

# Ignorar logs
logs/*.log*.pyc
*.logs
app.log

# Ignorar directorios de entornos virtuales
venv/
.env

# Ignorar archivos del sistema de macOS
_DS_Store
.DS_Store

# Ignora archivos de Cyberduck
**/.duckversions/


.codegpt