# Ignorar archivos de cache de Python
*.pyc
__pycache__/

# Ignorar logs
logs/*.log*.pyc
*.logs

# Ignorar directorios de entornos virtuales
venv/
.env
# Ignorar archivos del sistema de macOS
_DS_Store
.DS_Store

# Ignora archvos de Cyberduck
**/.duckversions/
