{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
      {
          "files": "*.html",
          "options": {
              "parser": "html"
          }
      }
  ]
}
