{% extends "layout.html" %}
{% block title %}Detalles de Usuario{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>View User</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <p class="card-text"><strong>Dirección:</strong> {{ user.address }}</p>
            <p class="card-text"><strong>Teléfono:</strong> {{ user.phone }}</p>
            <p class="card-text"><strong>Foto de Perfil:</strong> {{ user.picture }}</p>
        </div>
    </div>
</div>
{% endblock %}