{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}" />
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages
            %}
            <div class="container mt-3">
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="container-about">
        <h1>Acerca de EDF Catalogación QR</h1>
        <p>
            Aplicación con la que sabrás en cualquier momento donde están todos tus
            objetos guardados en los diferentes contenedores que tu registres en
            esta misma aplicación. De esta forma, puedes obtener información de en
            qué contenedor se encuentra, dónde está localizado dicho contenedor e
            inclusive adjuntar información gráfica (fotos) de los objetos buscados.
            Todo ello mediante la lectura del QR que se genera al crear el registro
            con la identificación del objeto buscado.
        </p>
        <a href="{{ url_for('main.home') }}" class="btn btn-primary m-5">Volver a Inicio</a>
    </div>
    <!-- Fin del Bloque para mostrar los mensajes flash -->
{% endblock %}
