{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}" />
    <div class="container-contacto">
        <h1>Contacto</h1>
        <form method="POST" action="{{ url_for('main.contacto') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class='form-control-label") }} {{ form.name(class='form-control form-control-lg") }}
                {% for error in
                    form.name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label(class='form-control-label") }} {{ form.email(class='form-control form-control-lg") }}
                {% for error in
                    form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.message.label(class='form-control-label") }} {{ form.message(class='form-control form-control-lg") }}
                {% for error
                    in form.message.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">{{ form.submit(class='btn btn-primary btn-block btn-lg") }}</div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
