{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Detalles del Contenedor</h2>
                </div>
                <div class="card-body">
                    <h4>Nombre: {{ container.name }}</h4>
                    <h5>Ubicación: {{ container.location }}</h5>
                    <h5>Objetos:</h5>
                    <ul>
                        {% for item in container.items %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                    
                    <!-- Mostrar imágenes si existen -->
                    {% if container.image_files %}
                        <h5>Imágenes del Contenedor:</h5>
                        <div class="row">
                            {% for image_file in container.image_files %}
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img src="{{ url_for('static', filename='container_pics/' ~ image_file) }}" alt="Imagen del Objeto" class="img-fluid card-img-top">
                                        <div class="card-body">
                                            <p class="text-center">{{ image_file }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No se encontraron imágenes.</p>
                    {% endif %}
                    
                    <!-- Mostrar código QR si existe -->
                    <h5>Código QR:</h5>
                    {% if container.qr_image %}
                        <img src="{{ url_for('static', filename='qr_codes/' ~ container.qr_image) }}" alt="Código QR" class="img-fluid" style="width: 150px; height: 150px;">
                    {% else %}
                        <p>No se ha generado código QR para este contenedor.</p>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <a href="{{ url_for('main.list_containers') }}" class="btn btn-primary">Listado Contenedores</a>
                    <a href="{{ url_for('main.create_container') }}" class="btn btn-primary">Crear Contenedor</a>
                    <a href="{{ url_for('main.welcome') }}" class="btn btn-primary">Opciones Generales</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}