<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}EDF Catalogación QR{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <!-- Favicon -->
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <!-- CSS -->
        <style>
            body,
            html {
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
                padding-top: 76px; /* Altura del navbar + padding */
                padding-bottom: 60px; /*  Altura del footer */
            }

            .navbar-container {
                background-color: #343a40;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1000;
            }

            .container-content {
                flex: 1;
                padding: 20px;
                margin-bottom: 60px; /* Espacio para el footer */
            }

            footer {
                background-color: #343a40;
                color: white;
                padding: 10px 0;
                position: fixed;
                bottom: 0;
                width: 100%;
                z-index: 1000;
            }

            #scrollTopBtn {
                display: none;
                position: fixed;
                bottom: 80px;
                right: 20px;
                z-index: 99;
                border: none;
                outline: none;
                background-color: #343a40;
                color: white;
                cursor: pointer;
                padding: 10px;
                border-radius: 50%;
                font-size: 18px;
                transition: background-color 0.3s;
            }

            #scrollTopBtn:hover {
                background-color: #555;
            }

            .alert-container {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar-container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('main.home') }}">
                        <img
                            src="{{ url_for('static', filename='images/logo.png') }}"
                            width="50"
                            height="50"
                            class="d-inline-block align-middle"
                            alt="EDF Logo"
                        />
                        EDF Catalogación QR
                    </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('main.home') }}"
                                >
                                    Inicio
                                </a>
                            </li>
                            {% if current_user.is_authenticated %}
                            <!-- Menú para usuarios autenticados -->
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('users.account') }}"
                                >
                                    Cuenta
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('main.create_container') }}"
                                >
                                    Crear Contenedor
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('main.list_containers') }}"
                                >
                                    Mis Contenedores
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('main.about') }}"
                                >
                                    Acerca de
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('main.contacto') }}"
                                >
                                    Contacto
                                </a>
                            </li>
                            {% if current_user.is_admin %}
                            <!-- Menú de administrador -->
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="adminDropdown"
                                    data-toggle="dropdown"
                                >
                                    Admin
                                </a>
                                <div class="dropdown-menu">
                                    <a
                                        class="dropdown-item"
                                        href="{{ url_for('admin.search_user') }}"
                                    >
                                        Buscar Usuario
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        href="{{ url_for('admin.list_users') }}"
                                    >
                                        Listar Usuarios
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        href="{{ url_for('admin.admin_search_containers') }}"
                                    >
                                        Contenedores
                                    </a>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('users.logout') }}"
                                >
                                    Cerrar Sesión
                                </a>
                            </li>
                            {% else %}
                            <!-- Menú para usuarios no autenticados -->
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('users.login') }}"
                                >
                                    Iniciar Sesión
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ url_for('users.register') }}"
                                >
                                    Registrarse
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Mensajes Flash -->
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div class="container alert-container">
            {% for category, message in messages %}
            <div
                class="alert alert-{{ category }} alert-dismissible fade show"
                role="alert"
            >
                {{ message }}
                <button type="button" class="close-alert" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %} {% endwith %}
        <!-- Contenido Principal -->
        <div class="container-content">{% block content %}{% endblock %}</div>
        <!-- Footer -->
        <footer class="text-center">
            <div class="container-footer">
                <a href="{{ url_for('main.contacto') }}" class="text-white">
                    Contacto - Eugenio de Frutos
                </a>
                <p class="mb-0">
                    &copy; {{ current_year }} EDF Proyectos. Todos los derechos
                    reservados.
                </p>
            </div>
        </footer>
        <!-- Botón Scroll Top -->
        <button
            onclick="scrollToTop()"
            id="scrollTopBtn"
            class="btn btn-primary"
        >
            <i class="fas fa-arrow-up"></i>
        </button>
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            // Función para imprimir detalles
            function printDetail(containerId) {
                window.open(
                    '/containers/' + containerId + '/print_detail',
                    '_blank',
                );
            }

            // Control del botón scroll top
            window.onscroll = function () {
                var scrollTopBtn = document.getElementById('scrollTopBtn');
                if (
                    document.body.scrollTop > 100 ||
                    document.documentElement.scrollTop > 100
                ) {
                    scrollTopBtn.style.display = 'block';
                } else {
                    scrollTopBtn.style.display = 'none';
                }
            };

            function scrollToTop() {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
        </script>
    </body>
</html>
