<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EDF Catalogación QR{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .navbar-container {
            background-color: #343a40; /* El color de fondo del navbar */
        }
        .container-content {
            padding-left: 10%;
            padding-right: 10%;
        }
        footer {
            background-color: #343a40;
            color: white;
            padding: 10px 0;
            width: 100%;
        }
        footer a {
            color: #ffcc00;
        }

        @media (max-width: 768px) {
            .container-content {
                padding-left: 5%;
                padding-right: 5%;
            }
        }

        @media (max-width: 576px) {
            .container-content {
                padding-left: 2%;
                padding-right: 2%;
            }
        }
    </style>
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('main.home') }}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" width="50" height="50" class="d-inline-block align-top" alt="EDF Logo">
                    EDF Catalogación QR
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.home') }}">Inicio</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.account') }}">Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.create_container') }}">Crear Contenedor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.list_containers') }}">Mis Contenedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.about') }}">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.contacto') }}">Contacto</a>
                        </li>
                        {% if current_user.is_admin %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                <a class="dropdown-item" href="{{ url_for('admin.search_user') }}">Buscar y Editar Usuario</a>
                                <a class="dropdown-item" href="{{ url_for('admin.admin_search_containers') }}">Buscar Contenedores</a>
                                <a class="dropdown-item" href="{{ url_for('admin.edit_user', user_id=current_user.id) }}">Editar Usuario</a>
                                <a class="dropdown-item" href="{{ url_for('admin.list_users') }}">Listar Usuarios</a>
                                <a class="dropdown-item" href="{{ url_for('admin.view_user', user_id=current_user.id) }}">Ver Usuario</a>
                                <a class="dropdown-item" href="{{ url_for('admin.admin_search_containers') }}">Contenedores</a>
                            </div>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.logout') }}">Cerrar Sesión</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.login') }}">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.register') }}">Registrarse</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Bloque para mostrar los mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mt-3">
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}

    <div class="container mt-5 container-content">
        {% block content %}{% endblock %}
    </div>

    <footer class="text-center">
        <a href="{{ url_for('main.contacto') }}">Contacto - Eugenio de Frutos</a>
        <p>&copy; {{ current_year }} EDF Proyectos. Todos los derechos reservados.</p>
    </footer>
    <script>
        function printDetail(containerId) {
            window.open('/containers/' + containerId + '/print_detail', '_blank');
        }
    </script>
</body>
</html>