{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <h1>Registro</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('main.register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}<br>
            {{ form.username(class="form-control", size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            <div class="input-group">
                {{ form.password(class="form-control", id="password") }}
                <div class="input-group-append">
                    <span class="input-group-text" onclick="togglePassword('password', 'togglePasswordIcon')">
                        <i class="fa fa-eye" id="togglePasswordIcon"></i>
                    </span>
                </div>
            </div>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}<br>
            <div class="input-group">
                {{ form.confirm_password(class="form-control", id="confirm_password") }}
                <div class="input-group-append">
                    <span class="input-group-text" onclick="togglePassword('confirm_password', 'toggleConfirmPasswordIcon')">
                        <i class="fa fa-eye" id="toggleConfirmPasswordIcon"></i>
                    </span>
                </div>
            </div>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.picture.label }}<br>
            {{ form.picture(class="form-control-file") }}<br>
            {% for error in form.picture.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('main.home') }}" class="btn btn-primary">Volver a Inicio</a>
        </div>
    </form>
</div>
<script>
    function togglePassword(fieldId, iconId) {
        const field = document.getElementById(fieldId);
        const icon = document.getElementById(iconId);
        if (field.type === "password") {
            field.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            field.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
{% endblock %}