{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- Bloque para mostrar los mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages
            %}
            <div class="container mt-3">
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="container-welcome"></div>
    <!-- Fin del Bloque para mostrar los mensajes flash -->
    <div class="modal-welcome">
        <div class="modal-content-welcome text-center">
            <h1>EDF Catalogación QR</h1>
            <h4>Has iniciado sesión correctamente.</h4>
            <div class="button-group-welcome mt-4">
                <button class="btn1btn-primary"
                        onclick="location.href='{{ url_for("users.account") }}'">Cuenta</button>
                <button class="btn1btn-primary"
                        onclick="location.href='{{ url_for("main.list_containers") }}'">Mis Contenedores</button>
                <button class="btn1btn-primary"
                        onclick="location.href='{{ url_for("main.create_container") }}'">Crear Contenedor</button>
                <button class="btn1btn-primary"
                        onclick="location.href='{{ url_for("main.contacto") }}'">Contacto</button>
            </div>
        </div>
    </div>
{% endblock %}
